.height {
	height: 100vh;
}

.search {
	position: relative;
	box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
	height: 60px;
	text-indent: 25px;
	border: 2px solid #d6d4d4;
}

.search input:focus {
	box-shadow: none;
	border: 2px solid blue;
}

.search .fa-search {
	position: absolute;
	top: 20px;
	left: 16px;
}

.search button {
	position: absolute;
	top: 5px;
	right: 5px;
	height: 50px;
	width: 110px;
	background: blue;
}

body {
	background-image: url('/static/images/heart-rbc.png');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

	background-size: cover;
}

.index-text {
	width: 52ch;
	animation: typing 7s steps(50), blink 0.6s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	border-right: 3.5px solid;
	font-size: 3em;
}

@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}
