{% extends 'base.html' %} {% block content %}
<div class="homepage">
	<div class="container">
		<div class="row mt-4 d-flex justify-content-center">
			<div class="col-md-8">
				<form action="/result" method="GET">
					<div class="mb-4 m">
						<select name="bg" class="form-select" aria-label=" select ">
							<option selected>Choose blood group</option>
							<option value="a+">A+</option>
							<option value="b+">B+</option>
							<option value="o+">O+</option>
							<option value="ab+">AB+</option>
							<option value="a-">A-</option>
							<option value="b-">B-</option>
							<option value="o-">O-</option>
							<option value="ab-">AB-</option>
						</select>
					</div>
					<div class="search">
						<i class="fa fa-search"></i>
						<input type="text" name="city" class="form-control" placeholder="Search by city" />
						<button type="submit" class="btn btn-primary">Search</button>
					</div>
				</form>
			</div>
		</div>
		<div class="index-text mb-3">
			Your one blood donation can be used to save lives of 3 people.
		</div>
		<div class="d-flex justify-content-center">
			<p><a class="btn btn-lg btn-info ms-3" href="/">Donate now</a></p>
		</div>
	</div>
</div>
{% endblock %}
